node_modules/
**/node_modules/
.next/
**/.next/
out/
dist/
build/
coverage/
cache/
artifacts/
**/artifacts/
**/cache/
typechain-types/
**/typechain-types/

.env
.env.*
**/.env
**/.env.*

.DS_Store
Thumbs.db

*.log
*.tsbuildinfo

.vercel
.idea/
.vscode/
